<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p class="countdown">5</p>
  </body>
</html>
<meta http-equiv="refresh" content="0.6;url=/4" />

<audio autoplay>
  <source src="/sounds/green.ogg" type="audio/ogg">
</audio>
