<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p class="countdown">Go!!!</p>
  </body>
</html>
<meta http-equiv="refresh" content="1;url=/replay" />

<audio autoplay>
  <source src="/sounds/blue.ogg" type="audio/ogg">
</audio>
<audio autoplay>
  <source src="/sounds/yellow.ogg" type="audio/ogg">
</audio>
