<h1>Hangman</h1>

<div class="row">
  <div class="col-md-6">
    <form action="/hangman" method="post">
      <input type="text" name="guess" placeholder="Enter a Letter Here">
    </form>
  </div>
  <div class="col-md-6">
    <p>
      gameoutput
    </p>
  </div>
</div>
